[submodule "ckan-extensions/ckanext-auth"]
	path = ckan-extensions/ckanext-auth
	url = git@github.com:fjelltopp/ckanext-auth.git
	branch = development
[submodule "ckan-extensions/ckanext-unaids"]
	path = ckan-extensions/ckanext-unaids
	url = git@github.com:fjelltopp/ckanext-unaids.git
  branch = development
[submodule "ckan-extensions/ckanext-restricted"]
	path = ckan-extensions/ckanext-restricted
	url = git@github.com:fjelltopp/ckanext-restricted.git
  branch = development
[submodule "ckan-extensions/ckanext-scheming"]
	path = ckan-extensions/ckanext-scheming
	url = git@github.com:fjelltopp/ckanext-scheming.git
  branch = development
[submodule "ckan-extensions/ckanext-validation"]
	path = ckan-extensions/ckanext-validation
	url = git@github.com:fjelltopp/ckanext-validation.git
  branch = development
[submodule "ckan-extensions/ckanext-geoview"]
	path = ckan-extensions/ckanext-geoview
	url = git@github.com:fjelltopp/ckanext-geoview.git
  branch = development
[submodule "ckan-extensions/ckanext-ytp-request"]
	path = ckan-extensions/ckanext-ytp-request
	url = git@github.com:fjelltopp/ckanext-ytp-request.git
  branch = development
[submodule "ckan-extensions/ckanext-pdfview"]
	path = ckan-extensions/ckanext-pdfview
	url = git@github.com:fjelltopp/ckanext-pdfview.git
  branch = development
[submodule "ckan-extensions/ckanext-emailasusername"]
	path = ckan-extensions/ckanext-emailasusername
	url = git@github.com:fjelltopp/ckanext-emailasusername.git
  branch = development
[submodule "ckan-extensions/ckanext-dhis2harvester"]
	path = ckan-extensions/ckanext-dhis2harvester
	url = git@github.com:fjelltopp/ckanext-dhis2harvester.git
  branch = development
[submodule "ckan-extensions/ckanext-harvest"]
	path = ckan-extensions/ckanext-harvest
	url = git@github.com:fjelltopp/ckanext-harvest.git
  branch = development
[submodule "ckan-extensions/ckanext-blob-storage"]
	path = ckan-extensions/ckanext-blob-storage
	url = git@github.com:fjelltopp/ckanext-blob-storage.git
  branch = development
[submodule "ckan-extensions/ckanext-versions"]
	path = ckan-extensions/ckanext-versions
	url = git@github.com:fjelltopp/ckanext-versions.git
  branch = development
[submodule "ckan-extensions/ckanext-pages"]
	path = ckan-extensions/ckanext-pages
	url = https://github.com/ckan/ckanext-pages.git
