[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Core CKAN 2.11.4 dependencies
alembic = "==1.13.2"
babel = "==2.15.0"
bleach = "==6.1.0"
blinker = "==1.8.2"
certifi = ">=2024.7.4"
click = "==8.1.7"
dominate = "==2.9.1"
feedgen = "==1.0.0"
flask = "==3.0.3"
flask-babel = "==4.0.0"
flask-login = "==0.6.3"
flask-session = "==0.8.0"
flask-wtf = "==1.2.1"
jinja2 = "==3.1.6"
markdown = "==3.6"
msgspec = "==0.18.6"
packaging = "==24.1"
passlib = "==1.7.4"
polib = "==1.2.0"
psycopg2 = "==2.9.9"
pyjwt = "==2.8.0"
pyparsing = "==3.1.2"
python-dateutil = "==2.9.0.post0"
python-magic = "==0.4.27"
pysolr = "==3.9.0"
pytz = "*"
pyyaml = "==6.0.1"
redis = "==5.0.7"
async-timeout = "==4.0.3"
requests = "==2.32.4"
rq = "==1.16.2"
simplejson = "==3.19.2"
six = "==1.16.0"
sqlalchemy = {version = "==1.4.52", extras = ["mypy"]}
sqlparse = "==0.5.0"
tzlocal = "==5.2"
webassets = "==2.0"
webencodings = "==0.5.1"
werkzeug = {version = "==3.0.6", extras = ["watchdog"]}
"zope.interface" = "==6.4.post2"
# Submodules
ckanext-auth = {editable = true, path = "./submodules/ckanext-auth"}
ckanext-authz-service = {editable = true, path = "./submodules/ckanext-authz-service"}
ckanext-dhis2harvester = {editable = true, path = "./submodules/ckanext-dhis2harvester"}
ckanext-emailasusername = {editable = true, path = "./submodules/ckanext-emailasusername"}
ckanext-harvest = {editable = true, path = "./submodules/ckanext-harvest"}
ckanext-versions = {editable = true, path = "./submodules/ckanext-versions"}
ckanext-restricted = {editable = true, path = "./submodules/ckanext-restricted"}
ckanext-scheming = {editable = true, path = "./submodules/ckanext-scheming"}
ckanext-unaids = {editable = true, path = "./submodules/ckanext-unaids"}
ckanext-validation = {editable = true, path = "./submodules/ckanext-validation"}
ckanext-blob-storage = {editable = true, path = "./submodules/ckanext-blob-storage"}
ckanext-ytp-request = {editable = true, path = "./submodules/ckanext-ytp-request"}
ckanext-fork = {editable = true, path = "./submodules/ckanext-fork"}
ckanext-saml2auth = {editable = true, path = "./submodules/ckanext-saml2auth"}
ckan = {editable = true, path = "./submodules/ckan"}
# end of submodules
# Additional CKAN extensions (local submodule)
ckanext-pages = {editable = true, path = "./submodules/ckanext-pages"}
# Additional ADX dependencies
ckanapi = "==4.3"
pysaml2 = ">=6.5.1,<7.4"
"repoze.who" = "==2.3"
importlib-resources = "*"
cffi = "==1.14.5"
cryptography = "~=3.4.7"
pycparser = "==2.20"
typing-extensions = "==4.12.2"
ckantoolkit = ">=0.0.3"
python-slugify = ">=5.0.0"
numpy = "==1.24.4"
pandas = "==1.5.3"
pika = ">=1.1.0"
pyopenssl = "~=18.0.0"
pycountry = "==19.8.18"
giftless-client = "==0.1.1"
cssmin = "==0.2.0"
pyshp = "==2.1.0"
pyrsistent = "==0.16.0"
jsonschema = "==3.2.0"
charset-normalizer = "==3.3.2"
python-dotenv = "==1.0.0"
python-jose = "==3.3.0"
setuptools = ">=65.0.0"
raven = "==6.10.0"
tableschema = "==1.20.2"
frictionless = ">=5.0.0,<6.0.0"
markupsafe = ">=2.0.1"

[dev-packages]
# CKAN 2.11.4 dev dependencies
beautifulsoup4 = "==4.14.3"
cookiecutter = "==2.6.0"
coveralls = "*"
faker = "==26.0.0"
factory-boy = "==3.3.0"
flask-debugtoolbar = "==0.15.1"
freezegun = "==1.5.1"
ipdb = "==0.13.13"
pip-tools = "==7.4.1"
pillow = "==10.4.0"
responses = "==0.25.3"
sphinx-rtd-theme = "==2.0.0"
sphinx = "==7.3.7"
toml = "==0.10.2"
towncrier = "==23.11.0"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-factoryboy = "==2.7.0"
pytest-freezegun = "==0.4.2"
pytest-rerunfailures = "==15.0"
pytest-split = "==0.10.0"
pytest-retry = "==1.7.0"
pytest-mock = "*"
coverage = "==7.7.1"
junitparser = "==3.2.0"
junit2html = "==31.0.2"

[requires]
python_version = "3.10"
