# CKAN Secrets Configuration
# This file is mounted from a Kubernetes Secret
# Values here override/supplement production.ini
#
# Generate secrets with: openssl rand -base64 32

[app:main]
beaker.session.secret = <GENERATE_SECRET>
SECRET_KEY = <GENERATE_SECRET>
api_token.jwt.encode.secret = string:<GENERATE_SECRET>
api_token.jwt.decode.secret = string:<GENERATE_SECRET>
